admin/node_modules
admin/.env

display/.dart_tool/
display/.flutter-plugins-dependencies
display/.pub-cache/
display/.pub/
display/build/
display/.env
display/.idea
display/android
display/display.iml
display/linux/
display/macos/
display/windows/
display/ios/
display/web/

.vscode